export(KL_divergence_hist)
export(coverage_score)
export(debug_print)
export(fit_param_dist)
export(fit_predict_shap)
export(gradient_shap)
export(integrate)
export(integrated_gradients)
export(is_package_available)
export(is_wholenumber)
export(local_linear_shap)
export(mspl)
export(one_hot_encode)
export(parfor)
export(print_shap_summary)
export(rm_zero_cols)
export(scale_matrix)
export(sims_to_forecast_object)
export(sort_df)
export(split_data)
export(splitts)
export(timeit)
export(time_series_accuracy)
export(vlookup)
export(winkler_score)
export(winkler_score2)
export(direct_sampling)
export(conformalize)
export(plot_prediction_interval)
export(predict.conformalize)
export(simulate.conformalize)
export(residuals.conformalize)
export(get_next_date)
export(monotonic_regression)
S3method(predict, conformalize)
S3method(simulate, conformalize)
S3method(residuals, conformalize)

importFrom("stats", "model.frame", "model.matrix", "model.response", "terms")
importFrom("MASS", "ginv")
importFrom("stats", "simulate")
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "grid", "hist", "legend", "lines",
            "polygon")
importFrom("stats", "coef", "cov", "dbeta", "dcauchy", "dchisq",
            "density", "dexp", "dgamma", "dgeom", "dlnorm", "dlogis",
            "dnbinom", "dnorm", "dt", "dweibull", "end", "frequency",
            "predict", "quantile", "rbeta", "rcauchy", "rchisq", "rexp",
            "rgamma", "rgeom", "rlnorm", "rlogis", "rnbinom", "rnorm",
            "rt", "rweibull", "sd", "start", "ts", "tsp")
importFrom("utils", "head")
